In [1]:
import json
import ijson
import pandas as pd

In [2]:
# Load the business dataset into json
with open('yelp_dataset/yelp_academic_dataset_business.json', encoding = 'utf-8') as json_file:
    data = json_file.readlines()
    data = list(map(json.loads, data))

In [3]:
# Load the json into Pandas
business = pd.io.json.json_normalize(data)

In [ ]:
list_of_cities = list(pd.unique(business.city))
list_of_cities.sort()
list_of_cities

In [4]:
# For heaven's sake please spell Phoenix prroperly thank youo
business.city.str.replace('Phenoix', 'Phoenix')
business.city.str.replace('Phenoix AZ', 'Phoenix')
business.city.str.replace('Phoeniix', 'Phoenix')
business.city.str.replace('Phoenix ', 'Phoenix')
business.city.str.replace('Phoenix AZ', 'Phoenix')
business.city.str.replace('Phoenix Metro Area', 'Phoenix')
business.city.str.replace('Phoenix,', 'Phoenix')
business.city.str.replace('Phoenix, AZ', 'Phoenix')
business.city.str.replace('Phoneix', 'Phoenix')
business.city.str.replace('Phonenix', 'Phoenix')
business.city.str.replace('Phoniex', 'Phoenix')

0               Cornelius
1              Scottsdale
2                Montreal
3         North Las Vegas
4                    Mesa
5                 Gilbert
6               Las Vegas
7                    Mesa
8               Champaign
9                 Toronto
10                Calgary
11             Pittsburgh
12              Middleton
13               Chandler
14        North Las Vegas
15              Henderson
16              Las Vegas
17                  Tempe
18              Rock Hill
19                   Mesa
20              Charlotte
21               Glendale
22           Huntersville
23               Gastonia
24                 Aurora
25              Thornhill
26                Toronto
27              Charlotte
28                Phoenix
29                Toronto
               ...
209363            Calgary
209364          Charlotte
209365            Toronto
209366        Valley View
209367          Las Vegas
209368          Las Vegas
209369          Las Vegas
209370           Kirkland
209371          Las Vegas
209372          Las Vegas
209373            Chander
209374            Toronto
209375          Las Vegas
209376            Gilbert
209377            Toronto
209378         Scottsdale
209379      Richmond Hill
209380            Phoenix
209381            Madison
209382          Las Vegas
209383      North Olmsted
209384             Tempe
209385          Charlotte
209386          Las Vegas
209387            Calgary
209388            Vaughan
209389          Charlotte
209390         Scottsdale
209391       Indian Trail
209392            Toronto
Name: city, Length: 209393, dtype: object

In [ ]:
# Apply filters: Note: these filters can be adjusted
filters = (business.state == "AZ") & (business.city == "Phoenix") # Phoneix, Arizona
filters = filters & (business.categories.str.contains('Restaurants')) # Restaurants only
phoenix_business = business[filters]

In [ ]:
columns_to_keep = ['business_id', 'name', 'latitude', 'longitude', 'address', 'city', 'state', 'stars', 'review_count', 'is_open']
phoenix_business = phoenix_business[columns_to_keep]
phoenix_business

In [ ]:
phoenix_business.to_json('yelp_dataset/phoenix_restaurants.json', orient = 'records')

In [5]:
# Create dataset for all restaurants in the United States
rest_filter = business.categories.str.contains('Restaurants', na=False)
restaurants = business[rest_filter]

In [6]:
columns_to_keep = ['business_id', 'name', 'latitude', 'longitude', 'address', 'city', 'state', 'stars', 'review_count', 'is_open']
restaurants = restaurants[columns_to_keep]

In [8]:
us_states = ["AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DC", "DE", "FL", "GA", 
          "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD", 
          "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ", 
          "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC", 
          "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY"]
restaurants = restaurants[restaurants.state.isin(us_states)]

In [9]:
restaurants.to_json('yelp_dataset/restaurants.json', orient = 'records')
restaurants.to_csv('yelp_dataset/restaurants.csv')